@import 'utilities/box-shadow';

$spacers: map-merge($spacers, $awe-spacers);

$utilities: (
  'flex': (
    property: flex,
    class: flex,
    values: $flexs,
    responsive: true,
  ),
  'font-size': (
    property: font-size,
    class: fz,
    values: $font-sizes,
    responsive: true,
  ),
  'font-weight': (
    property: font-weight,
    class: fw,
    values: (
      thin: $font-weight-thin,
      extra-light: $font-weight-extra-light,
      light: $font-weight-light,
      regular: $font-weight-regular,
      medium: $font-weight-medium,
      semibold: $font-weight-semibold,
      bold: $font-weight-bold,
      extrabold: $font-weight-extrabold,
      black: $font-weight-black,
    ),
  ),
  'gap': (
    property: gap,
    class: gap,
    responsive: true,
    values: $spacers,
  ),
  'column-gap': (
    property: column-gap,
    class: gapx,
    responsive: true,
    values: $spacers,
  ),
  'row-gap': (
    property: row-gap,
    class: gapy,
    responsive: true,
    values: $spacers,
  ),
  'z-index': (
    property: z-index,
    class: z,
    responsive: true,
    values: $z-indexs,
  ),
  'opacity': (
    property: opacity,
    class: opacity,
    responsive: true,
    values: $opacities,
  ),
);
