@import 'bootstrap';
@import 'components';

.logo-header {
  height: 48px !important;
}

.title-index {
  position: relative;

  .title {
    text-shadow: 0 0 8px white !important;

    word-break: break-word;

    &::before,
    &::after {
      content: attr(data-text);

      color: $awe-blue-first;

      position: absolute;
      left: 0;
    }
    &::before {
      top: 16px;

      opacity: 0.1;
    }
    &::after {
      top: 32px;

      opacity: 0.05;
    }
  }

  @media (min-width: 576px) {
    .subtitle {
      position: absolute;
      top: 24px;
      left: 48px;
    }
  }
}

.bg-index {
  background-image: url('../image/arrow-right.svg'),
    url('../image/arrow-right.svg'), url('../image/arrow-right.svg'),
    linear-gradient(to right, #014180, #0255a6) !important;
  background-repeat: no-repeat;
  background-position: left 0% bottom 0%, left 10% bottom 50%,
    left 20% bottom -20%;
}

.arrow-button {
  animation: animation-arrow 2s linear infinite;
}

@keyframes animation-arrow {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.section-search {
  position: relative;

  overflow: hidden;

  background-image: url('../image/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: top 10% left 5%;

  img {
    @media (max-width: 767px) {
      height: 250px !important;
      object-fit: cover;
    }

    z-index: 100;
  }

  &::before,
  &::after {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-image: url('../image/arrow-right.svg'),
      url('../image/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: bottom 25% left 2%, top 45% left 80%;
  }
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.bx-left-bottom {
  transform: translateX(8px) translateY(-8px) !important;

  &.bx-hover:hover {
    transform: translateX(0) translateY(0) !important;
  }
}
.bx-left-top {
  transform: translateX(-8px) translateY(-8px) !important;

  &.bx-hover:hover {
    transform: translateX(0) translateY(0) !important;
  }
}
.bx-right-top {
  transform: translateX(-8px) translateY(8px) !important;

  &.bx-hover:hover {
    transform: translateX(0) translateY(0) !important;
  }
}
.bx-right-bottom {
  transform: translateX(8px) translateY(8px) !important;

  &.bx-hover:hover {
    transform: translateX(0) translateY(0) !important;
  }
}
.bx-hover {
  transition: 0.3s all;

  &:hover {
    box-shadow: 0 0 transparent !important;
  }
}

.transition {
  transition: 0.3s all;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: $awe-blue-third;
  border-radius: 8px;
  border: 2px solid $awe-light-first;
}
*::-webkit-scrollbar-track {
  background: $awe-light-first;
}
