@import 'bootstrap';
@import 'components';

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  footer {
    margin-top: auto;
  }
}

.logo-header {
  height: 48px !important;
}

.title-index {
  position: relative;

  .title {
    text-shadow: 0 0 8px white !important;

    word-break: break-word;

    &::before,
    &::after {
      content: attr(data-text);

      color: $awe-blue-first;

      position: absolute;
      left: 0;
    }
    &::before {
      top: 16px;

      opacity: 0.1;
    }
    &::after {
      top: 32px;

      opacity: 0.05;
    }
  }

  @media (min-width: 576px) {
    .subtitle {
      position: absolute;
      top: 24px;
      left: 48px;
    }
  }
}

.bg-index {
  background-image: url('../image/arrow-right.svg'),
    url('../image/arrow-right.svg'), url('../image/arrow-right.svg'),
    linear-gradient(to right, #014180, #0255a6) !important;
  background-repeat: no-repeat;
  background-position: left 0% bottom 0%, left 10% bottom 50%,
    left 20% bottom -20%;
}

.arrow-button {
  animation: animation-arrow 2s linear infinite;
}

@keyframes animation-arrow {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.section-search {
  position: relative;

  overflow: hidden;

  background-image: url('../image/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: top 10% left 5%;

  a {
    z-index: 200;
  }

  img {
    @media (max-width: 767px) {
      height: 250px !important;
      object-fit: cover;
    }

    z-index: 100;
  }

  &::before,
  &::after {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-image: url('../image/arrow-right.svg'),
      url('../image/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: bottom 25% left 2%, top 45% left 80%;

    z-index: 100;
  }
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.news-section-title {
  $gradient-right-opacity: 0.75;
  $gradient: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, $gradient-right-opacity)
  );
  background-image: $gradient;
  background-color: $awe-blue-fourth;

  position: relative;

  padding-top: 24px;

  &::before {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: calc(100% - 24px);

    background-image: $gradient;
    background-color: $awe-yellow-first;
  }
}

.news-index-item {
  .title {
    position: relative;

    img + h3 {
      position: absolute;
    }
    h3 {
      bottom: 0;

      padding: 24px;
      margin: 0;

      color: $awe-light-first;

      background-image: linear-gradient(
        to top,
        $awe-blue-first,
        rgba($awe-blue-first, 0.66),
        rgba($awe-blue-first, 0)
      );
    }

    img {
      max-height: 350px;

      object-fit: cover;
      object-position: center;
    }
  }
}

.news-section-content {
  background-image: url('../image/arrows.svg'),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(239, 242, 247, 1) 33%);
  background-repeat: no-repeat;
  background-position-y: 100px, 0;
  background-position-x: 0;
  background-size: 300px, auto;

  @media (max-width: 767px) {
    background-position-y: 25px;
  }

  .news-list {
    position: relative;

    .news + .news {
      margin-top: 16px;
      border-top: 1px solid $awe-gray-first;
      padding-top: 16px;
    }

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 8px;
      bottom: 0;

      width: 1px;

      background-image: linear-gradient(to bottom, transparent, #ffffff);
    }
    &::before {
      left: -1px;
    }
    &::after {
      right: -1px;
    }
  }
}

.section-team {
  background-image: url('../image/substance.svg'),
    linear-gradient(180deg, $awe-gray-third 33%, rgba(0, 0, 0, 0) 33%);
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 24px, 0;

  .title-section {
    color: #78a3ce;
    text-shadow: 2px 0 0 #0154a6, -2px 0 0 #0154a6, 0 2px 0 #0154a6,
      0 -2px 0 #0154a6, 1px 1px #0154a6, -1px -1px 0 #0154a6, 1px -1px 0 #0154a6,
      -1px 1px 0 #0154a6;

    position: relative;
  }
}

.teammates {
  .teammate {
    object-fit: cover;

    @media (min-width: 576px) {
      height: 200px;
    }
    @media (min-width: 768px) {
      height: 280px;
    }
    @media (min-width: 992px) {
      height: 250px;
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
      height: 210px;
    }
  }

  .team-item {
    @extend .transition;

    &:hover {
      background-color: $awe-blue-third !important;

      color: $awe-light-third !important;

      .teammate {
        border-color: $awe-yellow-first !important;
      }
    }
  }
}

.section-team {
  .banner-new-member {
    @media (min-width: 992px) {
      background-image: url('../image/bg-new-member.svg');
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-size: auto 100%;
    }
  }
}

footer .footer {
  background: linear-gradient(90deg, #213f8c 50%, #1e3980 75%, #1b3373 100%);
}

.transition {
  transition: 0.3s all;
}

.role {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  span + span {
    &::before {
      content: ',';
      margin-right: 4px;
    }
  }
}

.img-cover {
  object-fit: cover;
  object-position: center;
}

.img-thumb {
  object-fit: cover;

  @media (max-width: 575px) {
    max-height: 400px;
  }
  @media (min-width: 576px) {
    height: 400px;
  }
  @media (min-width: 768px) {
    height: 280px;
  }
  @media (min-width: 992px) {
    height: 250px;
  }
  @media (min-width: 1200px) {
    height: 300px;
  }
  @media (min-width: 1200px) {
    height: 350px;
  }
}

*::-webkit-scrollbar {
  width: 10px;
  height: 0;
}
*::-webkit-scrollbar-thumb {
  background-color: $awe-blue-third;
  border-radius: 8px;
  border: 2px solid $awe-light-third;
}
*::-webkit-scrollbar-track {
  background: $awe-light-third;
}
