.btn {
  transform: translateX(8px) translateY(-8px) !important;

  transition: 0.3s all !important;

  &:hover {
    transform: translateX(0) translateY(0) !important;

    box-shadow: 0 0 transparent !important;
  }
}
